BTCK_CNXML/wwwroot/xsd/loaihoa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="LoaiHoa">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Id" type="xs:string"/>
				<xs:element name="Name" type="xs:string" minOccurs="1"/>
				<xs:element name="Description" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>